<footer class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="madeby">Created by Tiago Correia</p>
                    <p class="api">Using the <i class="fa fa-yelp" aria-hidden="true"></i>yelp API</p>
                    <div class="social">
                    <a href="https://github.com/tiagocorreiaalmeida" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://www.freecodecamp.org/tiagocorreiaalmeida"><i class="fa fa-free-code-camp" target="_blank" aria-hidden="true"></i></a>
                    <a href="http://www.tiagoalmeidacorreia.pt"><i class="fa fa-briefcase" target="_blank" aria-hidden="true"></i></a>
                </div>
                </div>
            </div>
        </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html> 