{{> header}}
<div class="wrap">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-12 text-center mt-5 mb-5">
                <h1 class="primary-header">Any plans for tonight?
                    <br>
                    <div class="icons mt-5">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <i class="fa fa-car" aria-hidden="true"></i>
                        <i class="fa fa-glass" aria-hidden="true"></i>
                    </div>
                </h1>
            </div>
            <div class="col-md-12 mb-4">
                <div class="input-group">
                    <input id="location" type="text" class="form-control input-field" placeholder="WHERE YOU AT?">
                    <span id="send" class="input-group-addon input-button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="messages"></div>
        </div>
        <div class="load-wrap mb-5">
        <div id="circleG">
            <div id="circleG_1" class="circleG"></div>
            <div id="circleG_2" class="circleG"></div>
            <div id="circleG_3" class="circleG"></div>
        </div>
        </div>
        <div class="row mt-3" id="dataInfo">

        </div>
    </div>
</div>
{{>footer}}