li{
  list-style: none;
}

.fa{
  padding: 0 10px;
}

/* Input */

body{
  font-family: 'Lato', sans-serif;
}

.input-group-addon{
  border-radius:0;
}

/*---------------------------------*/

/* Icons*/
.modal-body a i.fa{
  font-size: 24px;
}

.facebook,
.facebook:active{
  padding: 15px;
  border:3px solid;
  background-color:#3b5998;
  border-color:#3b5998;
  color:#fff;
}

.facebook:hover,
.facebook:focus{
  box-shadow: none;
  background-color:#fff;
  border-color:#3b5998;
  color:#3b5998;

}

.twitter,
.twitter:active{
  padding: 15px;
  border:3px solid;
  background-color:#00aced;
  border-color:#00aced;
  color:#fff;
}

.twitter:hover,
.twitter:focus{
  box-shadow: none;
  background-color:#fff;
  border-color:#00aced;
  color:#00aced;

}

.google,
.google:active{
  padding: 15px;
  border:3px solid;
  background-color:#ff4343;
  border-color:#ff4343;
  color:#fff;
}

.google:hover,
.google:focus{
  box-shadow: none;
  background-color:#fff;
  border-color:#ff4343;
  color:#ff4343;

}



/* NAVBAR */
.navbar-dark{
  background-color: #17A2B8;
  color: #fff;
}

.navbar-brand{
  color:#fff;
  font-size: 2.4rem;
  transition: all .2s;
}

.navbar-brand:hover{
  color:#fff;
  transform: scale(1.3);
}

.nav-item.nav-link.button-white{
  color:#fff;
  cursor:pointer;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.nav-link.dropdown-toggle.user-info{
  color :#fff;
}

/********/


/* INTRO  */
.primary-header{
  text-transform:uppercase;
  color: #474d55;
}

.form-control{
  border-radius:0;
}

.input-field{
  font-size: 1.2rem;
  line-height: 2.1;
  border:4px solid #17A2B8;
}

.input-field:focus{
  color:#492540;
  border:4px solid #17A2B8;
}

.input-button{
  font-size:22px;
  color:#fff;
  background-color:#17A2B8;
  border:4px solid #17A2B8;
  cursor:pointer;
}

.input-button:hover{
  background-color:#fff;
  color:#17A2B8;
}

.load-wrap{
  display: none;
}

.load-wrap.active{
  display: block;
}


/*---------------------------------*/





/* BAR INFO */

.bar-info {
border-radius:0;
box-shadow: 0 15px 15px rgba(0,0,0,.1);
}

.bar-info-img{
padding:0 15px 0 0;
}

.bar-info-img img{
border-radius:0;
}

/* Bar Info */
.card-img-top{
  height: 220px;
  object-fit: cover;
}

.fa-map-marker{
  padding:0;
  padding-right:10px;
}

/*---------------------------------*/

/* FOOTER */
footer{
  border-top: 6px solid #0f6d7c;
  background-color:#e9ecef;
}
footer .col-md-12{
  padding: 15px;
}
.madeby{
  font-weight: 400;
  font-size: 1.35rem;
  color:#34495e;
}
.api{
  color: #474d55;
  font-size: 1.1rem;
  font-weight: 700;
}
.social a{
  display: inline-block;
  border: 2px solid #0f6d7c;
  color:#0f6d7c;
  background-color:transparent;
  padding:7px;
}
.social a:hover{
  color:#e9ecef;
  background-color:#0f6d7c;
}
.social a i{
  font-size: 25px;
  min-width: 32px;
  padding: 0;
}

/*-----------------------*/

.messages{
width:100%;
}
.alert{
  width:100%;
}





/* QUERIES */
@media screen and (max-width: 765px) {
.input-field{
  font-size: 1rem;
  line-height: 1.8;
}
}

@media screen and (max-width: 575px) {
.bar-info-img{
  padding:0 15px;
}
}
